.action__button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.hide-mobile {
  margin-top: 40px;

  @include for-large-up {
    display: none;
  }
}

.hide-desktop {
  @include for-large-down {
    display: none;
  }
}

.icon-arrow_right {
  display: block;
  width: 7px;
  height: 12px;
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png');
  background-repeat: no-repeat;
}

.top-section {
  background-color: $color-light-pink;

  @include for-large-up {
    .top-section {
      padding-top: 39px;
    }
  }
}

.general-button {
  background-color: $text-color-white;
  color: $button-color-blue;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
  margin-left: 0;

  @include for-large-up {
    margin-left: 10px;
    margin-top: 0px;
  }
}